.mainCardDiv {
  flex: 0 0 33.3%;
}

.mainCardDiv > div {
  height: 93%;
  width: 93%;
  background-color: #f7f7f7;
  border-radius: 15px;
  box-shadow: 0 0 25px #cecece;
  margin: 10px auto;
  overflow: hidden;
}

.cardImgDiv {
  min-height: 175px;
  height: 80%;
  display: flex;
  flex: 1 0 100%;
  position: relative;
}

.cardImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imgOpacite {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.65;
}

.imgText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 0 10px;
  font-size: 35px;
}

.cardInfoDiv {
  height: 50px;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
  margin: 0 0 0 10px;
}

.infoHeader {
  padding: 0;
  flex: 1 0 100%;
  margin: 5px 0 0 0;
  font-size: 17px;
  font-weight: bold;
}

.infoDescription {
  padding: 0;
  flex: 1 0 100%;
  margin-top: -5px;
  font-size: 13px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

@media screen and (max-width: 786px) {
  .mainCardDiv {
    flex: 1 0 50%;
    max-width: 375px;
    margin: auto;
  }
}

@media screen and (max-width: 546px) {
  .mainCardDiv {
    flex: 1 0 100%;
    max-width: 375px;
    margin: auto;
  }
}
