.mainDiv {
  display: flex;
  flex-wrap: wrap;
  background-color: #efefef;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: center;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  flex-direction: row;
  /* flex: 0 0 100%; */
  max-width: 950px;
}
